/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ { 

    combos {
        compatible = "zmk,combos";
            combo_bspc {
                timeout-ms = <25>;
                key-positions = <8 9>;
                bindings = <&kp BSPC>;
            };
            combo_del {
                timeout-ms = <50>;
                key-positions = <7 8 9>;
                bindings = <&kp DEL>;
            };
            combo_enter {
                timeout-ms = <50>;
                key-positions = <18 19>;
                bindings = <&kp ENTER>;
            };
            combo_gresc {
                timeout-ms = <50>;
                key-positions = <0 1>;
                bindings = <&gresc>;
            };
            combo_grave {
                timeout-ms = <50>;
                key-positions = <0 1 2>;
                bindings = <&kp GRAVE>;
            };
            combo_tab {
                timeout-ms = <50>;
                key-positions = <10 11>;
                bindings = <&kp TAB>;
            };
            combo_lsft {
                timeout-ms = <50>;
                key-positions = <20 21>;
                bindings = <&kp LSFT>;
            };
            combo_caps {
                timeout-ms = <50>;
                key-positions = <20 21 22>;
                bindings = <&kp CAPS>;
            };
            combo_lgui {
                timeout-ms = <50>;
                key-positions = <21 22 23>;
                bindings = <&kp LGUI>;
            };
            combo_lalt {
                timeout-ms = <50>;
                key-positions = <22 23 24>;
                bindings = <&kp LALT>;
            };
            combo_ralt {
                timeout-ms = <50>;
                key-positions = <25 26 27>;
                bindings = <&kp RALT>;
            };
            combo_rgui {
                timeout-ms = <50>;
                key-positions = <26 27 28>;
                bindings = <&kp RGUI>;
            };
            combo_rctl {
                timeout-ms = <50>;
                key-positions = <27 28 29>;
                bindings = <&kp RCTL>;
            };
            combo_taskmanager {
                timeout-ms = <50>;
                key-positions = <0 20>;
                bindings = <&kp LC(LS(ESC))>;
            };
            combo_screensnip {
                timeout-ms = <50>;
                key-positions = <30 33>;
                bindings = <&kp LG(LS(S))>;
            };
            combo_wack {
                timeout-ms = <50>;
                key-positions = <32 33>;
                bindings = <&kp BSLH>;
            };
            combo_lock {
                timeout-ms = <50>;
                key-positions = <30 31>;
                bindings = <&kp LG(L)>;
            };       
    };

        keymap {
                compatible = "zmk,keymap";
                
       		default_layer {
		bindings = <
		&kp Q &kp W &kp E &kp R &kp T 					        &kp Y &kp U  &kp I &kp O &kp P 
		&kp A &kp S &kp D &kp F &kp G 			                &kp H &kp J &kp K &kp L &kp SQT
		&mt LSFT Z &kp X &kp C &kp V &kp B		                &kp N &kp M  &kp COMMA &kp DOT &kp FSLH
                        &mt LCTL LGUI    &mo 1              &mo 2  &kp SPC
		>;
		};

       		left_layer {
        bindings = <           
        &kp LC(LA(F1)) &kp LC(LA(F2)) &trans &trans &kp LC(LA(F7)) 					        &kp INS &kp HOME &kp UP &kp END &kp PG_UP 
		&trans &trans &trans &trans &trans  					    &trans &kp LEFT &kp DOWN &kp RIGHT &kp PG_DN 
		&trans &trans &trans &trans &trans 					    &trans &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP  &kp C_PP 
                                &trans &mo 1              &mo 2 &trans 
		>;
		};
		
		right_layer {
		bindings = <
        &kp N1  &kp N2 &kp N3 &kp N4 &kp N5 				&kp N6 &kp N7 &kp N8 &kp N9 &kp N0
		&bt BT_SEL 0 &bt BT_SEL 1 &bt BT_CLR &trans &trans 		&kp GRAVE &kp MINUS &kp EQUAL &kp SEMI &trans
		&trans &trans &trans &trans &trans 			     &kp LBKT &kp RBKT &kp LPAR &kp RPAR &trans
                                         &trans &mo 3      &mo 2 &trans
		>;
		};	
		
		tri_layer {
		bindings = <
        &trans &trans &trans &trans &trans 					        &trans &trans &trans &trans &trans
		&trans &trans &trans &trans &trans 					        &trans &trans &trans &trans &trans 
		&trans  &trans &trans &trans &trans 					        &reset &bootloader &trans &trans &trans   
                                &trans &trans               &trans &trans 
		>;
		};	
        
	};
};
